<div class="container__big-card">

  <div class="big-card__photo">

    <img src="https://www.imaflora.org/public/template/site/default/images/curso_thumb_default.jpg"
    alt="placeholder"
    width="100%"
    srcset="">

  </div>
  <div class="big-card__title">

    <h1><a href="#">Nova atualização a caminho, do que será?</a></h1>

  </div>
  <div class="big-card__description">

    <p>Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão
      duris. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.
      Interagi no mé, cursus quis, vehicula ac nisi. Praesent malesuada urna nisi,
      quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>

  </div>

</div>
